{% extends "layout.html.twig" %}

{% block title %}Résultat(s) pour "{{ tag.title }}" {% endblock %}

{% block content %}
	<div class="row">
		<h1>Résultat(s) associé(s) au tag "{{ tag.title }}"</h1>
		<div id="results-container">
			{% include 'results_pagination.html.twig' with {'links': links} %}
		</div>
		<div id="pagination-container"
			 data-current-page="{{ currentPage }}"
			 data-total-pages="{{ totalPages }}">
			{% include 'pagination.html.twig' %}
		</div>
	</div>
{% endblock %}

