body { 
    padding-top: 100px; 
}

#logo{
	width:230px;
	height: 0;
	display: block;
	overflow: hidden;
	padding-top: 76px;
	font-size: 0;
	background: url("../images/logo.png") no-repeat center center;
}
.centrage_vertical {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0px;
}
.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
    margin-top: 30px;
}

.articleTitle:hover, .articleTitle:focus {
    text-decoration: none;
}

.adminTable {
    margin-top: 20px;
    margin-bottom: 20px;
}

#errorPanel {
    padding-top: 30px;
    padding-bottom: 10px;
}


img {
    margin: 0 auto;
    padding: 50px;
}

.card_image {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    padding: 50px;}

.zoom {
    transition: transform .2s;
    width: 200px;
    height: 200px;
}

.zoom:hover {
    transform: scale(1.1);
}

.container_images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_links:hover .text_overlay {
    opacity: 0.8;
}

.text_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
}

.text {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.card_tag {
    background-color: #282d32;
    border-radius: 10px;
    padding: 20px ;
    margin : 20px ;
}

.text_tag { color : white ;
    text-align: justify;
}

.btn_tag {
    border-radius: 20px;
    background-color: #282d32 ;
    color: white;
    border:1px solid white;
    padding : 3px ;
margin-right: 10px ;
}

