body { 
    padding-top: 100px; 
}

#logo{
	width:230px;
	height: 0;
	display: block;
	overflow: hidden;
	padding-top: 76px;
	font-size: 0;
	background: url("../images/logo.png") no-repeat center center;
}
.centrage_vertical {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0px;
}
.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
    margin-top: 30px;
}

.articleTitle:hover, .articleTitle:focus {
    text-decoration: none;
}

.adminTable {
    margin-top: 20px;
    margin-bottom: 20px;
}

#errorPanel {
    padding-top: 30px;
    padding-bottom: 10px;
}

.zoom {
    padding: 50px;
    transition: transform .2s;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.1);
}

.container_images {
    display: flex;
    justify-content: center;
    align-items: center;
}
